@import "../../../../assets/vars";
.horaActual{
    color: black;
    font-size: 18px;
    span{
        font-weight: bold;
    }
}
table{
    @include table;
}

tr.arrived{
    background: rgba(0, 122, 0, .9);
    &:hover{
        background-color: rgba(0, 122, 0, .8) !important;
    }
}