@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; } 
}

#store{
    padding: 50px 0;
    .slider-container{
        img{
            height: 300px;
            // max-height: 300px;
            width: 100%;
            object-fit: contain;
            &.img-lazyloaded{
                animation: fadein .5s;
            }
        }
    }
    .products__container{
        padding-top: 50px;
        .products__category{
            margin-bottom: 30px;
            .products__item{
                .item__card{
                    margin: 0 auto;
                    width: 80%;
                    margin-bottom: 20px;
                    &-image-container{
                        border-bottom: 3px solid black;
                        overflow: hidden;
                        .item__card-image{
                            height: auto;
                            width: 100%;
                            object-fit: contain;
                            object-position: center;
                            margin: 0 auto;
                            transition: all .3s;
                        }
                        &:hover .item__card-image{
                            transform: scale(1.1) rotate(5deg);
                        }
                    }
                    .item__card-content{
                        h3{
                            font-size: 15px;
                            line-height: 20px;
                            margin: 0;
                            padding: 0;
                        }
                        span{
                            font-size: 11px;
                            color: rgba(120,120,120,1);
                        }
                    }
                }
            }
        }
    }
}