<form [formGroup]="form" (ngSubmit)="onSubmit()" id="form">
    <h1 mat-dialog-title>Datos del color a crear</h1>
    <div mat-dialog-content>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Nombre del color</mat-label>
                    <input matInput placeholder="Ej: Rojo" formControlName="name">
                </mat-form-field>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <mat-label>Color</mat-label>
                <input formControlName="hex" [value]="color" [style.background]="color" [(colorPicker)]="color"/>
            </div>
        </div>
    </div>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Salir</button>
        <button type="submit" mat-raised-button [disabled]="!form.valid" color="primary">Guardar</button>
    </mat-dialog-actions>
</form>