<div id="locations">
    <div class="locations__banner">
        <h1 class='text-center font-bebas'>tienda</h1>
    </div>
    <div class="locations__content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h1 class="font-bebas">horarios</h1>
                    <ul class='font-roboto'>
                        <li>
                            Martes -
                        </li>
                        <li>
                            Miercoles -
                        </li>
                        <li>
                            Jueves -
                        </li>
                        <li>
                            Viernes -
                        </li>
                        <li>
                            Sabado -
                        </li>
                        <li>
                            Domingo -
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h1 class="font-bebas">direcci&oacute;n</h1>
                    <ul>
                        <li>Avila Camacho #3434. Guadalajara, Jalisco.</li>
                        <li><a href="">Ver en google maps</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h1 class="font-bebas">contacto</h1>
                    <ul>
                        <li>telefono: </li>
                        <li>email: </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="locations__images">

    </div>
</div>