<div id="locations">
    <div class="locations__banner">
        <h1 class='text-center font-bebas'>tienda</h1>
    </div>
    <div class="locations__content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h1 class="font-bebas">horarios</h1>
                    <ul class='font-roboto'>
                        <li>
                            Miercoles - 5:30 PM a 11:50 PM
                        </li>
                        <li>
                            Jueves - 5:30 PM a 11:50 PM
                        </li>
                        <li>
                            Viernes - 5:30 PM a 11:50 PM
                        </li>
                        <li>
                            Sabado - 5:30 PM a 11:50 PM
                        </li>
                        <li>
                            Domingo - 5:30 PM a 11:50 PM
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h1 class="font-bebas">direcci&oacute;n</h1>
                    <ul>
                        <li>Avila Camacho #2370. Guadalajara, Jalisco.</li>
                        <li><a href="https://goo.gl/maps/38TTTZJFmX1Die8Y9" target="_blank">Ver en google maps</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h1 class="font-bebas">contacto</h1>
                    <ul>
                        <li>TELEFONO: +52 (33) 1250 0169</li>
                        <li>EMAIL: leyendasmusicclub@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="locations__images">
        <div>
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <div>
            <img src="" alt="">
        </div>
    </div>
</div>