$break-small: "screen and (min-width: 576px)"; //de esos px para arriba
$break-medium: "screen and (min-width: 768px)";
$break-large: "screen and (min-width: 992px)";
$break-extra: "screen and (min-width: 1200px)";
.no-padding{padding: 0 !important;} .no-margin{margin: 0 !important;}
@mixin dialog-form{
    .form-wrapper{
        margin-top: 18px;
        .form-field{
            margin-bottom: 1.25em;
        }
        .form-file-wrapper{
            display: flex;
            align-items: center;
            .form-file{ // this one has to be along .form-field
                @media #{$break-medium}{
                    margin: 0;
                }
            }
        }
        .image-preview{
            display: flex;
            flex-direction: column;
            padding-bottom: 1.25em;
            img{
                width: 40%;
            }
        }
    }
}