<form enctype="multipart/form-data" [formGroup]="editProdForm" class="edit-form" (ngSubmit)="saveChanges(product.id)">
    <h1 mat-dialog-title>Editar datos del producto</h1>
    <div id="product" mat-dialog-content>
        <div class="row no-padding no-margin form-wrapper">
            <div class="col-sm-12 col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Producto</mat-label>
                    <input placeholder="Ej: Playera The Beatles" matInput formControlName="name">
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Precio</mat-label>
                    <span matPrefix>$&nbsp;</span>
                    <input matInput formControlName="price" placeholder="Stock" type="number">
                </mat-form-field>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 mb-2">
                <mat-label>Colores disponibles para el producto: <br> <small>(se pueden editar desde la seleccion de fotos)</small></mat-label>
                <mat-chip-list>
                    <ng-container *ngFor="let color of colors">
                        <mat-chip>{{color.name}}</mat-chip>
                    </ng-container>
                </mat-chip-list>
            </div>
            <div class="col-sm-12 col-md-6">
                <mat-form-field class='w-100'>
                    <mat-label>Existencia</mat-label>
                    <mat-select formControlName="existence" placeholder="Selecciona uno">
                        <mat-option value="1">Existente</mat-option>
                        <mat-option value="0">No existente</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Categoria</mat-label>
                    <input matInput formControlName="category" placeholder="Categoria" type="text">
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6">
                <mat-form-field class="w-100">
                    <textarea placeholder="Descripción" matInput formControlName="description"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Salir</button>
        <button type="submit" mat-raised-button [disabled]="!editProdForm.valid" color="primary">Guardar</button>
    </mat-dialog-actions>
</form>