    <div class="panel-header panel-header-sm">
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="title">Productos</h5>
                    </div>
                    <div class="card-body">
                        <button mat-raised-button (click)="openCreate()">
                            <i class="now-ui-icons ui-1_simple-add"></i>  Nuevo juego
                        </button>
                        <button mat-flat-button (click)="createCat()" class="ml-3">
                            <i class="now-ui-icons ui-1_simple-add"></i>  Nueva categoria
                        </button>
                        <div class="table-responsive mt-4">
                            <table datatable [dtOptions]="dtOptions" class="row-border hover dataTable w-100">
                                <thead>
                                  <tr>
                                    <th>ID</th>
                                    <th>Image</th>
                                    <th>Nombre del juego</th>
                                    <th>Categoria</th>
                                    <th>Acciones</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let game of games">
                                        <td>{{ game.id }}</td>
                                        <td class='image-container'>
                                            <img [src]="game.image" class='image-tabla' alt="">
                                            <div class="imageEdit__container">
                                                <i class="now-ui-icons media-1_album icon-edit" (click)="openUpdateImage(game.id)">
                                                </i>
                                            </div>
                                        </td>
                                        <td>{{ game.name }}</td>
                                        <td>{{ game.category == 1 ? 'Juego de mesa' : 'Maquinita' }}</td>
                                        <td>
                                            <i class="material-icons icon-trash" color="warning" (click)="erase(game.id)">
                                                cancel
                                            </i>
                                            &nbsp;
                                            <i class="material-icons icon-edit" (click)="openEdit(game.id)">
                                                edit
                                            </i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>