<div id="product">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 productSlider">
                <div class="productSlider__container">
                    <div class="image__container">
                        <img [src]="imageUrl + currentImage" class="productSlider__image" alt="">
                    </div>
                    <div class="productSlider__selector">
                        <ul class="selector">
                            <li (click)="changeCurrentImage(image)" *ngFor="let image of currentImages" class="selector__item">
                                <img [src]="imageUrl + image" alt="" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5">
                <div class="row" *ngIf='product'>
                    <div class="col-sm-12 productInfo__container">
                        <h1 class="productInfo__title font-bebas">{{ product.name }}</h1>
                        <span class="productInfo__category font-roboto">{{ product.category }} - {{ product.price | currency }}</span>
                        <p class="productInfo__sizes-chart">Tamaños disponibles: </p>
                        <div class="productInfo__selector">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="sizes-selector">
                                <mat-radio-button (click)="setSize(size)" class="example-radio-button" *ngFor="let size of sizes" [value]="size.name">
                                    {{ size.name | uppercase}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <p class="productInfo__sizes-chart">Colores disponibles: </p>
                        <div class="productInfo__selector">
                            <!-- <mat-radio-group aria-labelledby="example-radio-group-label" class="color-selector">
                                <mat-radio-button (click)="setColor(color)" class="example-radio-button" *ngFor="let color of colors" [value]="color">
                                    {{ color.name | uppercase}}
                                </mat-radio-button>
                            </mat-radio-group> -->
                            <ul class="color-selector">
                                <ng-container *ngFor="let color of colors; index as i">
                                    <li class="color-item">
                                        <div [ngStyle]="{'background': color.hex}" (click)="setColor(color, i)" [ngClass]="currentColorIndex == i ? 'colorActive' : 'colorUnactive'" class="color-sample"></div>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                        <h3>Cantidad: </h3>
                        <div class="productInfo__quantity-container">
                            <button (click)="minusQuantity()">-</button>
                            <span class="productInfo__quantity-selector">{{quantity}}</span>
                            <button (click)="plusQuantity()">+</button>
                        </div>
                        <button (click)="addProd(product, quantity, currentColor, currentSize)" mat-stroked-button class="productInfo__order-button font-roboto">Comprar ahora</button>
                        <p class="productInfo__desc font-roboto">
                            {{ product.description }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 relatedProducts">
                <h1 class="font-bebas">Productos recientes</h1>
                <div *ngIf="lastProds.length != 0" class="relatedProducts__slider row">
                    <div *ngFor="let product of lastProds" class="col-xs-6 col-md-4 col-lg-3 products__item">
                        <div class="item__card" (click)="goToItem(product.id)">
                            <div class="item__card-image-container">
                                <img [src]="'http://localhost:3000/products/get-image/'+product.image" alt="" class="item__card-image">
                            </div>
                            <div class="item__card-content">
                                <h3>{{product.name}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>