<div id="product">
    <ng-container *ngIf="!isLoaded">
        <div class="overlay">
            <mat-spinner></mat-spinner>
        </div>
    </ng-container>   
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 productSlider">
                <div class="productSlider__container">
                    <div class="image__container">
                        <img [src]="currentImage" class="productSlider__image" alt="">
                    </div>
                    <div class="productSlider__selector">
                        <ul class="selector">
                            <li (click)="changeCurrentImage(image)" *ngFor="let image of currentImages" class="selector__item">
                                <img [src]="image" alt="" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5">
                <div class="row" *ngIf='product'>
                    <div class="col-sm-12 productInfo__container">
                        <h1 class="productInfo__title font-bebas">{{ product.name }}</h1>
                        <span class="productInfo__category font-roboto">{{ product.category_name | uppercase }} - {{ ((currentSize?.id == 6 || currentSize?.id == 7) ? product.price_extra : product.price) | currency }}</span>      
                        <p class="productInfo__sizes-chart">Tamaños disponibles: </p>
                        <ng-container [ngSwitch]="product.category_name">
                            <div *ngSwitchCase="'Playeras'">
                                <div class="productInfo__selector">
                                    <mat-radio-group aria-labelledby="example-radio-group-label" class="sizes-selector">
                                        <mat-radio-button (click)="setSize(size)" class="example-radio-button" *ngFor="let size of sizes" [value]="size.name">
                                            {{ size.name | uppercase}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div *ngSwitchCase="'sudaderas'">
                                <div class="productInfo__selector">
                                    <mat-radio-group aria-labelledby="example-radio-group-label" class="sizes-selector">
                                        <mat-radio-button (click)="setSize(size)" class="example-radio-button" *ngFor="let size of normalSizes" [value]="size.name">
                                            {{ size.name | uppercase}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div *ngSwitchCase="'Polo'">
                                <div class="productInfo__selector">
                                    <mat-radio-group aria-labelledby="example-radio-group-label" class="sizes-selector">
                                        <mat-radio-button (click)="setSize(size)" class="example-radio-button" *ngFor="let size of normalSizes" [value]="size.name">
                                            {{ size.name | uppercase}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div *ngSwitchDefault>
                                <div class="productInfo__selector">
                                    <mat-radio-group aria-labelledby="example-radio-group-label" class="sizes-selector">
                                        <mat-radio-button (click)="setSize(size)" class="example-radio-button" *ngFor="let size of defaultSizes" [value]="size.name">
                                            {{ size.name | uppercase}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </ng-container>
                        <p class="productInfo__sizes-chart">Colores disponibles: </p>
                        <div class="productInfo__selector">
                            <ul class="color-selector">
                                <ng-container *ngFor="let color of colors; index as i">
                                    <li class="color-item" [ngClass]="currentColorIndex == i ? 'colorActive' : 'colorUnactive'">
                                        <div [ngStyle]="{'background-color': color.hex}" (click)="setColor(color, i)" class="color-sample"></div>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                        <h3>Cantidad: </h3>
                        <div class="productInfo__quantity-container">
                            <button (click)="minusQuantity()">-</button>
                            <span class="productInfo__quantity-selector">{{quantity}}</span>
                            <button (click)="plusQuantity()">+</button>
                        </div>
                        <p class="productInfo__desc font-roboto">
                            {{ product.description }}
                        </p>
                        <button (click)="addProd(product, quantity, currentColor, currentSize?.name)" mat-stroked-button class="productInfo__order-button font-roboto">Agregar al carrito</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 relatedProducts">
                <h1 class="font-bebas">Productos recientes</h1>
                <div *ngIf="lastProds.length != 0" class="relatedProducts__slider row">
                    <div *ngFor="let product of lastProds" class="col-xs-6 col-md-4 col-lg-3 products__item">
                        <div class="item__card" (click)="goToItem(product.id)">
                            <div class="item__card-image-container">
                                <img [defaultImage]="product.lazyImage" [lazyLoad]="product.image" alt="" class="item__card-image">
                            </div>
                            <div class="item__card-content">
                                <h3 class='font-roboto'>{{product.name}}</h3>
                                <span class='font-roboto'>{{product.price | currency}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<notifier-container></notifier-container>