<form [formGroup]="form" (ngSubmit)="create()">
    <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="form">
            <ng-template matStepLabel>Información del producto</ng-template>
            <div class="form-wrapper">
                <mat-form-field>
                    <input placeholder="Nombre del producto" matInput formControlName="name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="imageUrl" placeholder="Url de la imagen" type="text">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="stock" placeholder="Stock" type="number">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="price" placeholder="Precio" type="number">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="category" placeholder="Categoria" type="text">
                </mat-form-field>
                <mat-form-field>
                    <textarea placeholder="Descripción" matInput formControlName="description"></textarea>
                </mat-form-field>
                <!-- <div class='form-field'>
                    <mat-label>Imagen</mat-label><br>
                    <input (change)="handleChange($event)" formControlName="image" type="file">
                </div> -->
            </div>
        </mat-step>
    </mat-horizontal-stepper>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-raised-button type="submit" [disabled]="!form.valid">Guardar</button>
    </mat-dialog-actions>
</form>