@import  "../../../../assets/vars";

#mainEntretenimiento{
    height: calc(100vH - 50px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .opt{
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .3s;
        cursor: pointer;
        &.juegos{
            // background-image: url('src/assets/images/backgrounds/rumman-amin-yNP1lz924-4-unsplash-min.jpg');
            filter: grayscale(100%);
            &:hover{
                filter: grayscale(20%);
            }
        }
        &.maquinas{
            // background-image: url('src/assets/images/backgrounds/wls_mlbn-dkXn0RbgdU4-unsplash-min.jpg');
            filter: grayscale(100%);
            &:hover{
                filter: grayscale(20%);
            }
        }
        h1{
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size: 20px;
            color: white;
            text-align: center;
            @media #{$break-medium}{
                font-size: 30px;
            }
            @media #{$break-large}{
                font-size: 40px;
            }
        }
    }
}