<div #footer_social class="footer__social">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <ul>
                    <ng-container *ngFor="let item of socialMedia">
                        <li #item (click)="openMedia(item.url)" (mouseover)="mouseEnter(item.color)" (mouseout)="mouseLeft()">
                            <div class="social-media__item">
                                <i [class]="'fab ' + item.icon"></i>
                                <span class='font-bebas'>{{item.name}}</span>
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h3 class="font-bebas">Menú rápido</h3>
                <ul>
                    <a routerLink="/tienda">Tienda</a>
                    <a routerLink="/eventos">Eventos</a>
                    <a routerLink="/menu-bar">Menú del bar</a>
                    <a routerLink="/entretenimiento">Entretenimiento</a>
                    <a routerLink="/reservaciones">Reservaciones</a>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h3 class="font-bebas">Nuestras redes</h3>
                <ul class="socialMedia__list">
                    <ng-container *ngFor="let item of socialMedia">
                        <a [class]="item.name" (click)="openMedia(item.url)">{{item.name}}</a>
                    </ng-container>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h3 class="font-bebas">LEGAL</h3>
                <ul>
                    <a routerLink="/tienda">Terminos y condiciones</a>
                    <a routerLink="/eventos">Condiciones de uso</a>
                    <a routerLink="/eventos">Politica de privacidad</a>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <img src="../assets/images/logos/logo_horizontal.png" alt="">  
            </div>
        </div>
    </div>
</footer>