<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <h3 class="font-bebas">Menú rápido</h3>
                <ul>
                    <a routerLink="/tienda">Tienda</a>
                    <a routerLink="/eventos">Eventos</a>
                    <a routerLink="/menu-bar">Menú del bar</a>
                    <a routerLink="/entretenimiento">Entretenimiento</a>
                    <a routerLink="/reservaciones">Reservaciones</a>
                </ul>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <h3 class="font-bebas">Sobre nosotros</h3>
                <ul>
                    <a routerLink=""></a>
                </ul>
            </div>
        </div>
    </div>
</footer>