@import "~angular-notifier/styles";
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$LeyendasMusicClub-primary: mat-palette($mat-indigo);
$LeyendasMusicClub-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$LeyendasMusicClub-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$LeyendasMusicClub-theme: mat-light-theme($LeyendasMusicClub-primary, $LeyendasMusicClub-accent, $LeyendasMusicClub-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($LeyendasMusicClub-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$LeyendasMusicClub-primary: mat-palette($mat-indigo);
$LeyendasMusicClub-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$LeyendasMusicClub-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$LeyendasMusicClub-theme: mat-light-theme($LeyendasMusicClub-primary, $LeyendasMusicClub-accent, $LeyendasMusicClub-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($LeyendasMusicClub-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x: hidden !important; }
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  .no-gutters{
    [class*="col-"]{
      padding: 0 !important;
    }
  }

  .font-bebas{
    font-family: "Bebas Neue", serif !important;
  }

  .font-roboto{
    font-family: "Roboto", sans-serif !important;
  }

  .w-100{
    width: 100%;
  }

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:rgb(66, 134, 244) !important; 
  }
  
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:rgb(66, 134, 244) !important;
    background-color:rgb(66, 134, 244)  !important;
  }
  
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
      background-color:rgb(255, 37, 37,.26) !important;
  }

  .overlay{
    background-color: rgba(255,255,255,.5);
    width: 100vW;
    height: 100vH;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}