<div id="game">
    <div class="game__container">
        <div class="row" *ngIf="isLoaded">
            <div class="col-xs-12 game__prop">
                <h3>Nombre del juego: <span>{{ itemToShow.name }}</span></h3>
            </div>
            <div class="col-xs-12 game__prop">
                <h3>No. de jugadores: <span>{{ itemToShow.noPlayers }}</span></h3>
            </div>
            <div class="col-xs-12 game__prop">
                <h3>No. de jugadores recomendado: <span>{{ itemToShow.recomendedPlayers }}</span></h3>
            </div>
            <div class="col-xs-12 game__prop">
                <h3>Tiempo por partida: <span>{{ itemToShow.timePerGame }}</span></h3>
            </div>
            <div class="col-xs-12 game__prop">
                <h3>Modo de juego: <span>{{ itemToShow.tutorial }}</span></h3>
            </div>
            <div class="col-xs-12 game__prop">
                <h3>LORE: <span>{{ itemToShow.description }}</span></h3>
            </div>
        </div>
    </div>
</div>