@import "../../../../assets/vars";

#form{
    @include dialog-form;
    .products__list{
        list-style: none;
        padding: 0;
        margin: 0;
        max-height: 120px;
        overflow-y: scroll;
        .list__item{
            margin-bottom: 10px;
            p{
                margin: 0;
                padding: 0;
                span{
                    font-weight: bold;
                }
            }
        }
    }
}